/* styles */

body {
    margin-left: 36px;
    margin-right: 36px;
}

h1 {
    color: darkslategrey;
    font-size: 48px;
}

h2 {
    padding: 8px;
    font-size: 24px
}

.home {
    text-align: center;
    padding: 8px;
    background-color: bisque;
}

.description {
    background-color: pink;
}

.ingredients {
    background-color: lightblue;
}

.steps {
    background-color: lavender;
}

img {
    width: 100%;
    height: auto;
}